# Ignore bundler config
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3

dump.rdb

config/database.yml
db/schema.rb

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp/**/*
/tmp/*


.rvmrc
*~
**/*~

/.DS_Store
/**/.DS_Store
